<!-- views/home.ejs -->
<div class="container-fluid  p-3">
    <div class="container my-2">
        <div class="row col-md-12">
            <div class="col-md-6">
                <div class="my-5">
                    <% if (typeof user !== "undefined" && user) { %>
                        <p> <strong>Hi, <%= user.name %>!</strong> </p>
                    <% } %>
                    <h2>Easy Login With SimplerWebAuthN</h2>
                    <h6 class="fs-6">Effortless and Secure Login Made Easy!</h6>
                    <div class="my-5">
                        <p class="fw-lighter">Welcome to <strong>Easy Login</strong>, a test project powered by SimplerWebAuthN. This
                            innovative solution
                            streamlines the authentication process, making it both user-friendly and secure.</p>
                        <div class="my-3">
                            <span class="badge bg-info text-dark p-2 my-2">Frictionless Login Experience</span>
                            <span class="badge bg-warning text-dark p-2 mx-2 my-2">Enhanced Security</span>
                            <span class="badge bg-dark p-2 my-2">Cross-Device Compatibility</span>
                        </div>
                        <p class="my-5 fw-bolder">Experience the future of secure authentication with Easy Login!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="./assets/banner.png" class="img-fluid" alt="banner image from freepik" />
            </div>
        </div>
    </div>
</div>
